<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle(); ?>
        <?php echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/site.css'); ?>
        <?php echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/bootstrap.css'); ?>
        <?php echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/bootstrap=theme.css'); ?>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="<?php echo $this->url(array('action'=>'index','id'=>null)); ?>">
                        <?php echo $this->translate('Главная'); ?></a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <?php echo $this->layout()->content ?>
            <hr>
            <footer>
            </footer>
        </div>
    </body>
</html>
