<?php
    $title = 'Удалить';
    $this->headTitle($title);
?>
<h1><?php echo $this->escape($title); ?></h1>
 <p>Вы уверены, что хотите удалить
     '<?php echo $this->escape($this->records['title']); ?>' от
     '<?php echo $this->escape($this->records['artist']); ?>'?
 </p>
<form action="<?php echo $this->url(array('action'=>'delete')); ?>" method="post">
 <div>
     <input type="hidden" name="id" value="<?php echo $this->records['id']; ?>" />
     <input type="submit" name="del" value="Да" />
     <input type="submit" name="del" value="Нет" />
 </div>
 </form>
