<?php
    $title = 'Пластинки';
    $this->headTitle($title);
?>
<h1><?php echo $this->escape($title); ?></h1>
 <p>
     <a href="<?php echo $this->url(array('action'=>'add')); ?>">Добавить</a>
 </p>
<table class="table">
     <tr>
         <th>Название</th>
         <th>Исполнитель</th>
         <th>&nbsp;</th>
     </tr>
     <?php
    foreach ($this->paginator as $entry): ?>
         <tr>
             <td><?php echo $this->escape($entry->title) ?></td>
             <td><?php echo $this->escape($entry->artist) ?></td>
             <td>
                 <a href="<?php
                echo $this->url(array('controller'=>'records','action'=>'edit','id'=>$entry->id)); ?>">Редактировать</a>
                 <a href="<?php
                echo $this->url(array('controller'=>'records','action'=>'delete','id'=>$entry->id)); ?>">Удалить</a>
             </td>
         </tr>
     <?php endforeach; ?>
 </table>
 <?php
 // add at the end of the file after the table
 echo $this->paginationControl(
     // the paginator object
     $this->paginator,
     // the scrolling style
     'sliding',
     // the partial to use to render the control
     'partial/paginator.phtml',
     // the route to link to when a user clicks a control link
     array(
         'route' => 'records'
     )
 );
 ?>
